h2 {
    font-size: 150%;
}

p {
    font-size: 110%;
}

body { 
    margin: 0; 
    font-family: monospace;
}

#sketch-container{
    position:fixed;
    width:100%;
    height: 100%;
}

.container {
    position: relative;
    background:rgb(0, 0, 0);
    opacity: 0.7;
    width: 25%;
    height: 500px;
    left: 75%;
    
    
    
}

.tooltip {
    /* background-color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    padding: 2% 10%;
    text-align: left;
    /* position: relative; */
    /* transform: translateY(-10px); */
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.importantH {
    color: rgb(20, 210, 128);
}
.importantP {
    color: rgb(123, 228, 183);
}

/* .tooltip::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 90%;
    left: 50%;
    transform: rotateZ(45deg) translateX(-50); 
    z-index: -1;
} */

.show  {
    opacity: 1;
    transform: translateY(0px)
}

.hide  {
    opacity: 0;
    transform: translateY(-10px); 
}
.slidecontainer {
    width: 70%;
    padding: 2% 10%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
  
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  

  /* slider sourced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #006555;
    cursor: pointer;
    
  }
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    
  }
